@import 'reset';

$primary-font: 'Montserrat';

.header{
    background: #FED101;
    height: 550.5px;
}

.header-top {
    h3 {
    font-family: $primary-font;
    font-style: normal;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #333333;
    margin-right: 250px;
    text-transform: uppercase;
    }

    a{
    font-family: $primary-font;
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 0px 15px;
    }

    ul{
    display: flex;
    flex-direction: row;
    }

    p{
    font-family: $primary-font;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    text-decoration: underline;
    margin-left: 142.5px;
    }

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 25px;
}

.header-bottom{
    display: flex;
    flex-direction: row;
}

.header-filling{
    h1{
    font-family: $primary-font;
    font-style: normal;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #333333;
    margin-top: 50px;
    }
    
    h2{
    font-family: $primary-font;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin-top: 10px;
    margin-bottom: 50px;
    }

    a{
    font-family: $primary-font;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    background: #FF352B;
    padding: 12.5px 75px;
    }

    ul{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: 60px;
    }

    li{
    font-family: $primary-font;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1px;
    color: #333333;
    }
}

.border {
    border: 2px solid #FFFFFF;
    width: 244.75px;
    height: 49px;
    margin-left: 10px;
    margin-top: -30px;
}

.image{
    transform: scale(0.8);
    margin-left: 100px;
    margin-top: -70px;
}

//  ---------------------------------------------- 2 часа ----------------------------------------------

.main-top {
    h3{
    font-family: $primary-font;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 80px 0px 60px 0px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-top-item-number{
    h5{
    font-family: $primary-font;
    font-style: normal;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #FED101; 
    text-transform: uppercase;
    margin-left: 1px;
    }

    p {
    font-family: $primary-font;
    font-style: normal;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 0.1px;
    color: #333333; 
    text-transform: uppercase;
    margin-top: -48.8px;
    width: 70px;
    }
}

.main-top-item-filling{
    h4{
    font-family: $primary-font;
    font-style: normal;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin-top: 5px;
    }

    P{
    font-family: $primary-font;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #5B5B5B;
    margin-top: 15px;
    margin-bottom: 50px;
    }

    width: 400px;
}

.main-top-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-top-item{
    display: flex;
    flex-direction: row;
}

.main-top-item:last-child{
    .main-top-item-filling{
    padding-right: 50px;
    }
}

.main-bottom{
    h2{
    font-family: $primary-font;
    font-style: normal;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 15px 0px;
    }

    h3{
    font-family: $primary-font;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.1px;
    color: #333333;
    margin-bottom: 45px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-bottom-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.main-bottom-item{
    h4{
    font-family: $primary-font;
    font-style: normal;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 40px 0px;
    }

    p{
    font-family: $primary-font;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #5B5B5B;
    margin: 10px 0px;
    }

    h5{
    font-family: $primary-font;
    font-style: normal;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.1px;
    color: #333333;
    margin: 40px 0px;
    }

    a{
    font-family: $primary-font;
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.1px;
    color: #333333;
    background: #FED101;
    padding: 12.5px 75px;
    margin: 0px 60px 50px 60px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 7.5px;
    border: 1px solid #EEEEEE;
}

.main-bottom-item:hover{
    border: 1px solid #FED101;
}