*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

html, body {
  height: 100%;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

img {
  vertical-align: top;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1046px;
  margin: 0 auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  background: #FED101;
  height: 550.5px;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 25px;
}

.header-top h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #333333;
  margin-right: 220px;
  text-transform: uppercase;
}

.header-top a {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 0px 15px;
}

.header-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-top p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  text-decoration: underline;
  margin-left: 142.5px;
}

.header-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-filling h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #333333;
  margin-top: 50px;
}

.header-filling h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin-top: 10px;
  margin-bottom: 50px;
}

.header-filling a {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #FFFFFF;
  background: #FF352B;
  padding: 12.5px 75px;
}

.header-filling ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 60px;
  margin-left: 60px;
}

.header-filling li {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1px;
  color: #333333;
}

.border {
  border: 2px solid #FFFFFF;
  width: 244.75px;
  height: 49px;
  margin-left: 10px;
  margin-top: -30px;
}

.image {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  margin-left: 100px;
  margin-top: -70px;
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-top h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 80px 0px 60px 0px;
}

.main-top-item-number h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #FED101;
  text-transform: uppercase;
  margin-left: 1px;
}

.main-top-item-number p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: #333333;
  text-transform: uppercase;
  margin-top: -48.8px;
  width: 70px;
}

.main-top-item-filling {
  width: 400px;
}

.main-top-item-filling h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin-top: 5px;
}

.main-top-item-filling P {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #5B5B5B;
  margin-top: 15px;
  margin-bottom: 50px;
}

.main-top-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-top-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-top-item:last-child .main-top-item-filling {
  padding-right: 50px;
}

.main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-bottom h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 15px 0px;
}

.main-bottom h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #333333;
  margin-bottom: 45px;
}

.main-bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 60px;
}

.main-bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 7.5px;
  border: 1px solid #EEEEEE;
}

.main-bottom-item h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 40px 0px;
}

.main-bottom-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #5B5B5B;
  margin: 10px 0px;
}

.main-bottom-item h5 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 40px 0px;
}

.main-bottom-item a {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #333333;
  background: #FED101;
  padding: 12.5px 75px;
  margin: 0px 60px 50px 60px;
}

.main-bottom-item:hover {
  border: 1px solid #FED101;
}

.reviews {
  background: #FED101;
  height: 500px;
}

.reviews-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews-info h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  margin-top: 60px;
  margin-bottom: 45px;
}

.reviews-button {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  padding: 12.5px 60px;
  border: 2px solid #3B3B3B;
  margin: 50px 0px;
}

.reviews-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.reviews-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 327px;
  margin: 0px 15px;
}

.reviews-item h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #333333;
  margin-bottom: 10px;
}

.reviews-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #4B4B4B;
}

.reviews-item h4 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #4B4B4B;
  margin-bottom: 20px;
}

.reviews-item a {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #4B4B4B;
  text-decoration: underline;
  margin-top: 10px;
}

.footer {
  background: #FED101;
  height: 460px;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 100px;
  margin-left: 80px;
}

.footer-item:first-child {
  margin-left: 0px;
}

.footer-item:nth-child(2) {
  width: 200px;
}

.footer-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  margin-left: 120px;
}

.footer-item h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.1px;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-item p {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #333333;
  text-decoration: underline;
  margin-top: 10px;
}

.footer-item ul > li {
  margin: 25px 0px;
}

.footer-item ul > li a {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #333333;
  margin: 50px 0px;
}

.footer-link {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1px;
  color: #333333;
  margin-top: 60px;
}

.footer-button {
  font-family: "Montserrat";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.1px;
  color: #333333;
  padding: 12.5px 60px;
  border: 2px solid #3B3B3B;
}
/*# sourceMappingURL=style.css.map */